# Default values that will be used when building project for first time.


# Compiler options
CONFIG_COMPILER_CXX_EXCEPTIONS=y

# Get the project version from Kconfig
CONFIG_APP_PROJECT_VER_FROM_CONFIG=y
CONFIG_APP_PROJECT_VER="1.0.0"

CONFIG_SM_EVENT_TYPE_DEFINED_IN_APPLICATION=y
CONFIG_SM_MAX_STATE_MACHINES=8
CONFIG_SM_EVENT_LOOP_QUEUE_SIZE=12
CONFIG_SM_EVENT_TASK_STACK_SIZE=5120
CONFIG_SM_TRACER=y
CONFIG_SM_TRACER_VERBOSE=y
CONFIG_SM_TRACER_LOSTEVENT=y

CONFIG_BUTTON_GPIO=12
CONFIG_BUTTON_ACTIVE_LEVEL=0

CONFIG_LED_GPIO=13
CONFIG_LED_ACTIVE_LEVEL=1

CONFIG_LED_BLINK_PERIOD_CHANGER_INTERVAL=60000
